@font-face { font-family: "Montserrat-Bold"; src: url('../fonts/Montserrat-Bold.otf'); }
@font-face { font-family: "Montserrat-Light"; src: url('../fonts/Montserrat-Light.otf'); }
@font-face { font-family: "OpenSans-Light"; src: url('../fonts/OpenSans-Light.ttf'); }
@font-face { font-family: "OpenSans-Regular"; src: url('../fonts/OpenSans-Regular.ttf'); }


body {
    background-color: #222;
    color: #7c7c7c;
    font-family: "OpenSans-Regular" !important;
}

.navbar-vertical {
    background-color:#252525 !important;
    box-shadow: 0 0 1.5rem rgba(0,0,0,.175) !important;
}

.navbar-vertical .navbar-nav .nav-link.active {
    background-color: rgba(255,255,255,0.03) !important;
    color:white;
}

@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
        top:0em;
        bottom: 0rem;
        left: 0;
        right:auto;
        background-color:#3c4d69;
    }
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active {
    background-color:rgba(255,255,255,0.01);
}

.navbar-dark .navbar-nav .nav-link {
    color: #CCC;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #FFF
}

.bg-default {
    background-color: #3c4d69 !important;
}

.btn-default {
    border-color: #3c4d69 !important;
    background-color: #3c4d69 !important;
}

.btn-outline-default {
    border-color: #3c4d69 !important;
    color: #3c4d69 !important;
}

.btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active {
    background-color: #3c4d69 !important;
    color: white !important;
}

.navbar-brand svg {
    fill: currentColor !important;
    max-width: 100px;
    height:75px;
    width: 75px;
}

.table td, .table th {
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
}

.card {
    background-color: #252525;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.175)!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #CCC;
}

.shadow-danger {
    box-shadow: 0 0 5rem 0 rgba(245, 54, 92, .8) !important;
}
.shadow-success {
    box-shadow: 0 0 5rem 0 rgba(45, 206, 137, 0.6) !important;
}
.shadow-info {
    box-shadow: 0 0 5rem 0 rgba(17, 205, 239, 0.6) !important;
}
pre {
    color: white !important;
}