@font-face { font-family: "Montserrat-Bold"; src: url('../fonts/Montserrat-Bold.otf'); font-display: swap; }
@font-face { font-family: "Montserrat-Light"; src: url('../fonts/Montserrat-Light.otf'); font-display: swap; }
@font-face { font-family: "OpenSans-Light"; src: url('../fonts/OpenSans-Light.ttf'); font-display: swap;}
@font-face { font-family: "OpenSans-Regular"; src: url('../fonts/OpenSans-Regular.ttf'); font-display: swap; }

body {
    background: var(--body-bg) !important;
    color: var(--font-color) !important;
    font-family: "OpenSans-Regular" !important;
}

a:not(.nav-link):not(.dropdown-item):not(.page-link):not(.btn) {
    color: var(--link-color);
}
.text-default {
    color: var(--default-color) !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--nav-link-color) !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--nav-link-hover-color) !important;
}

.custom-header {
    background: var(--header-bg);
}

.custom-header .navbar .nav-link {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.custom-header .d-flex {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.header h1 {
    font-family: "Montserrat-Bold";
    font-size: 60px;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

.header h1 span {
    font-family: "Montserrat-Light";
}

.header p {
    line-height: 1.2em;
}

.table {
    color: var(--table-font);
}

.table a:not(.text-primary):not(.btn) {
    color: var(--link-color) !important;
}

.table a:hover:not(.btn), 
.table a:focus:not(.btn), 
.table a:active:not(.btn) {
    color: var(--link-hover-color) !important;
}

.table td, .table th {
    vertical-align: middle;
    border-top: .0625rem solid var(--row-border-color);
}

.table thead tr {
    background-color: var(--table-header-bg) !important;
}

.table tr.bg-premium {
    background-color: var(--row-premium) !important;
}

.btn {
    font-size: .8rem;
    letter-spacing: .025em;
    text-transform: none !important;
    font-weight: 100;
}

.bg-default, .btn-default {
    background-color: var(--btn-bg) !important;
}

.btn-default {
    color: var(--btn-font) !important;
    border-color: var(--btn-border) !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    background-color: var(--btn-hover-bg) !important;
    border-color: var(--btn-hover-border) !important;
    color: var(--btn-hover-font) !important;
    transform: none !important;
}

.btn-outline-default {
    border-color: var(--btn-outline-border) !important;
    color: var(--btn-outline-font) !important;
}

.btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active {
    background-color: var(--btn-outline-hover-bg) !important;
    border-color: var(--btn-outline-hover-border) !important;
    color: var(--btn-outline-hover-font) !important;
    transform: none !important;
}

.card {
    background-color: var(--card-bg) !important;
}

.card-header {
    background: var(--card-header) !important;
    color: var(--card-header-font) !important;
}

.page-item.active .page-link {
    color: var(--btn-font) !important;
    border-color: var(--btn-border) !important;
    background-color: var(--btn-bg) !important;
}

.text-muted {
    color: var(--muted-color)!important;
}

p {
    line-height: 1.2em;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--h-color);
}

.badge {
    font-size: 60%;
    line-height: .7em;
    margin-top: -2px;
    vertical-align: middle;
}

.badge-primary {
    background-color:var(--badge-primary-bg) !important;
    color: var(--badge-primary-font) !important;
}

.badge-success {
    background-color:var(--badge-success-bg) !important;
    color: var(--badge-success-font) !important;
}

.badge-danger {
    background-color:var(--badge-danger-bg) !important;
    color: var(--badge-danger-font) !important;
}

input.form-control, textarea.form-control, select.form-control {
    background-color: var(--form-bg) !important;
    color: var(--form-font) !important;
    border-color: var(--form-border) !important;
}

input.form-control:focus, textarea.form-control:focus, select.form-control:focus {
    background-color: var(--form-focus-bg) !important;
    color: var(--form-focus-font) !important;
    border-color: var(--form-focus-border) !important;
}

.ql-container.ql-snow {
    border: 1px solid var(--form-border);
    background-color: var(--form-bg);
    border-radius: 4px;
}

.ql-editor.ql-blank::before {
    color: var(--form-font);
    content: attr(data-placeholder);
    font-style: italic;
    left: 15px;
    pointer-events: none;
    position: absolute;
    right: 15px;
}

.banner-holder {
    width: 100%;
    max-width: 468px;
    height: auto;
    max-height: 60px;
    display: block;
    background-color:var(--form-bg);
    line-height: 60px;
    text-align: center;
    color:var(--form-font);
}

.footer {
    background-color: var(--footer-bg)!important;
    color: var(--footer-font)!important;
}

.page-link {
    color: var(--page-link-font);
}
.page-link, .page-item.disabled .page-link {
    background-color: var(--page-link)!important;
    border-color: var(--page-link)!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.175)!important;
}

.page-item.disabled .page-link {
    color: var(--page-disabled-font)!important;
}

.page-link:hover {
    color: var(--page-hover-font)!important;
    background-color: var(--page-hover)!important;
    border-color: var(--page-hover)!important;
}

.page-item.active .page-link {
    z-index: 1;
    color: var(--page-active-font) !important;
    background-color: var(--page-active)!important;
    border-color: var(--page-active)!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.175)!important;
}

input.form-control {
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(255,255,255,0.1);
}